@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.display-flex{
    display: flex;
}
.margin{
    margin: 0px 100px;
}
.primary-btn{
    width: 197px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px;
border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
/* nav section */

nav{
  justify-content: space-between;
}
.nav-div-1{
   gap: 10px; 
}
.nav-div-2{
    
}
.nav-list{
    gap: 20px;
}
.nav-list-item-1{
    list-style: none;
    color: rgb(254, 163, 1);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.nav-list-item-2{
    list-style: none;
    color: rgb(1, 172, 253);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.nav-list-item-3{
    list-style: none;
    color: rgb(5, 212, 223);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.nav-list-item-4{
    list-style: none;
    color: rgb(93, 88, 239);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.nav-div-3 button{
    width: 197px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px;
border-radius: 12px;
background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}

/* banner-section */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.banner-div{
    font-family: Quicksand;
    font-size: 30px;
    font-weight: 500;
    
    letter-spacing: 0%;
    text-align: left;
}
.span-1{
    color:  rgb(254, 163, 1);
}
.span-2{
    color:  rgb(1, 172, 253);;
}





@media screen and (max-width: 576px){
    body{
        margin: 0px;
        padding: 10px;
    }
    .margin{
        margin: 3px;
    }
    .nav-div-1{
       display: flex;
       justify-content: space-between;
       margin: 5px;

    }
    .nav-div-2 {
        display: none;
    }
    .nav-div-3 {
        display: none;
    }
    .school{
        display:none;
    }
    /* bannaer responsive */
    header{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-div{
       text-align: center;
       justify-items: center;
       
    }
    

}